{% extends 'imagehost/base.html' %}
{% load static %}
{% load image_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'imagehost/css/custom.css' %}">
<style>
    /* make sidebar closed as default */

    #sidebar-wrapper {
        margin-left: -15rem;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    #img-detail-wrapper {
        height: 100vh;
    }

    #img-sidebar-wrapper {
        background-color: rgb(29, 28, 28);
        min-width: 15rem;
        width: 15rem;
        margin-left: 0;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    .card {
        background: inherit;
    }
    .table{
        background: inherit;
    }
    #sidebar-toggle {
        position: relative;
        left: 1.8rem;
        font-size:2rem;
    }

    #img-detail-wrapper.toggled #img-sidebar-wrapper {
        margin-left: -15rem;
    }
    
</style>

{% endblock head %}

{% block main %}

<div class="d-flex" id="img-detail-wrapper">
    <div id='img-sidebar-wrapper' class="p-3">

        <div class="d-flex justify-content-end">
            <button type="button" class="btn p-0 bg-light" id="sidebar-toggle"><span>&#8594;</span></button>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TAG</h5>
                {% for tag in image.tags.all %}
                <a href="#0" class="badge badge-secondary">#{{ tag.name }}</a>
                {% empty %}
                No tag
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-body pb-0">
                <h5 class="card-title">PROPERTIES</h5>
            </div>
            <table class="table table-borderless table-dark text-center ">
                <tbody>
                    <tr>
                        <th>Uploader</th>
                        <th>{{ user }}</th>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <th>{{ image.category }}</th>
                    </tr>
                    <tr>
                        <th>Favorites</th>
                        <th>{{ image.favorites }}</th>
                    </tr>
                    <tr>
                        <th>Resolution</th>
                        <th>{{ image.picture.width }}x{{ image.picture.height }}</th>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <th>{{ image.picture.size |BytesToMB|floatformat:2}} MB</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-light border-0" id="basic-addon1">URL</span>
            </div>
            <input type="text" class="form-control bg-dark text-light " value="{{ image.picture.url }}">
        </div>
        {% if user.pk == image.uploader.pk %}
        <div class="text-center mt-4">
            <a href="{% url 'imagehost:delete' image.pk %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
    </div>
    <!-- grow to fill all available space;vertical center;horizontal center -->
    <div class="flex-grow-1 align-self-center text-center " id="img-wrapper">
            <img src="{{ image.picture.url}}" class="img-fluid pr-3 pl-3"  id="image"  alt="">
    </div>
</div>


{% endblock main %}

{% block rear %}
<script>
    window.location.hash='#image';
    $('#sidebar-toggle').click(function(e){
        e.preventDefault();
        $("#img-detail-wrapper").toggleClass("toggled");
        console.log("fuck");
    })
</script>
{% endblock rear %}