{% extends 'imagehost/base.html' %}
{% load static %}

{% block main %}

<div class="container-fluid">
    <div class="row">
        <a href="{% url 'imagehost:upload' %}" class="btn btn-dark">Upload picture</a>
    </div>
</div>

<div class="container-fluid page-top">
    <h2 class="text-center page-header">ALL pictures</h2>
    <!-- 分割线 -->
    <hr class="bg-secondary">
    <div class="row">
        {% for image in imagelist %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb img-wrap">
                <a href="{{ image.picture.url }}" >
                    <img  src="{{ image.picture.url}}" class="zoom img-fluid "  alt="">
                </a>
            </div>
        {% empty %}
        <b>No imge</b>
        {% endfor %}
    </div>
</div>

{% endblock main %}
