{% extends 'imagehost/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load form_tags %}

<!-- 多重继承时会覆盖之前的 -->
{% block head %}
  <link rel='stylesheet' href="{% static 'imagehost/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'imagehost/css/bootstrap-select.min.css' %}">
{% endblock head %}

{% block main %}
<div class='container page-top'>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}

        {% if field.name != "picture" %}

        <div class="form-group row">
            {{ field|label_with_classes:'col-sm-2 col-form-label' }}
            <div class="col-sm-10">
            {{ field }}
            </div>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>

        {% else %}
          <div class="custom-file">
              {{ field }}
              {{ field|label_with_classes:'custom-file-label'}}
          </div>

          <img id='img-upload'/>
        {% endif %}

      {% endfor %}
      <br>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </form>
    <hr class="bg-secondary">
    <a href="{% url 'imagehost:index' %}" class="btn btn-light">Return to ImageHost</a>
</div>
{% endblock %}

{% block rear %}
  <script src="{% static 'imagehost/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'imagehost/js/custom.js' %}"></script>
{% endblock rear %}

