{% extends 'blog/base.html' %}
{% load socialaccount %}
{% load blog_extras %}

{% block content %}

<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
            <span class="post-category"><a
                    href="{% url 'blog:category' post.category.pk %}">{{ post.category }}</a></span>
            <span class="post-date"><a href="{% url 'blog:archives' post.created_time.year post.created_time.month %}"><time
                    class="entry-date" datetime={{ post.created_time }}>{{ post.created_time }}</time></a></span>
            <span class="post-author"><a href="{% url 'blog:author' post.author.pk %}">{{ post.author }}</a></span>
            <span class="comments-link"><a href="#comments">{{ post.comment_set.count }} comments</a></span>
            <span class="views-count"><a href="#">{{ post.views }} views</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{ post.body|safe }}
        <div class="widget-tag-cloud">
            <ul>
                Tags：
                {% for tag in post.tags.all %}
                <li><a href="{% url 'blog:tag' tag.pk %}"># {{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
<section class="comment-area" id="comment-area">
    <hr>
    {% if user.is_authenticated %}
        <h3><a id="comments">Post comment</a></h3>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label for="{{ form.body.id_for_label }}">Comment：</label>
                    {{ form.body }}
                    {{ form.body.errors }}
                    <button type="submit" class="comment-btn">Post</button>
                </div>
            </div>    <!-- row -->
        </form>
    {% else %}
    <div class="text-center" style="font-size: 1.5rem">
        <a class="text-primary" href="{% url 'login' %}">Sign in</a><span> to reply</span>
    </div>
    <div class="text-center">
        <a  href="{% provider_login_url "github" %}" class="btn btn-lg" style="background-color:transparent;">
            <i class="fab fa-github"></i> Github
        </a>
    </div>
    {% endif %}
    <div class="comment-list-panel">
        <h3><span>{{ post.comment_set.count }}</span> comments</h3>
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list %}
            <li class="comment-item">
                <img style="width:2rem;height:2rem;" onerror="this.src='https://avatars0.githubusercontent.com/u/29219497?v=4'" src="{{ comment.author.socialaccount_set.all.0.get_avatar_url}}"></img>
                <span class="nickname">{{ comment.author.username }}</span>
                <time class="submit-date">{{ comment.created_time }}</time>
                <div class="text">
                    {{ comment.body | to_markdown | safe}}
                </div>
            </li>
            {% empty %}
            No comment
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock content %}