{% extends 'imagehost/base.html' %}
{% load static %}
{% load image_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'imagehost/css/custom.css' %}">

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<style>

    .avatar {
        max-height: 2rem;
        max-width: 2rem;
        margin-right: 0.2rem;
    }

    /* make sidebar closed as default */
    #sidebar-wrapper {
        margin-left: -15rem;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    /* make sidebar closed as default */



    /* img-sidebar-wrapper */
    #img-sidebar-wrapper {
        background-color: rgb(29, 28, 28);
        min-width: 15rem;
        width: 15rem;
        margin-right: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
        color: white;
    }

    #img-sidebar-wrapper #sidebar-toggle-button {
        position: relative;
        right: 1.8rem;
        font-size: 2rem;
    }

    #img-detail-wrapper.toggled #img-sidebar-wrapper {
        margin-right: 0rem;
    }

    /* img-sidebar-wrapper */

    .card {
        background: inherit;
    }

    .table {
        background: inherit;
    }

    #img-detail-wrapper {
        height: 100vh;
    }

    @media (min-width: 768px) {
        #img-sidebar-wrapper {
            margin-right: 0;
        }

        #img-detail-wrapper.toggled #img-sidebar-wrapper {
            margin-right: -15rem;
        }
    }
</style>

{% endblock head %}

{% block main %}

<div class="d-flex" id="img-detail-wrapper">

    <!-- grow to fill all available space;vertical center;horizontal center -->
    <div class="flex-grow-1 align-self-center text-center " id="img-wrapper">
        <img src="{{ image.picture.url}}" class="img-fluid pr-3 pl-3" id="image" alt="">
    </div>
    <div id='img-sidebar-wrapper' class="p-3">

        <div class="d-flex justify-content-start">
            <button type="button" class="btn p-0 border-0 bg-light" id="sidebar-toggle-button"><i
                    class='fas fa-angle-right'></i></button>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TAG</h5>
                {% for tag in image.tags.all %}
                <a href="{% url 'imagehost:tag' tag.pk %}" class="badge badge-secondary">#{{ tag.name }}</a>
                {% empty %}
                No tag
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-body pb-0">
                <h5 class="card-title">PROPERTIES</h5>
            </div>
            <table class="table table-borderless table-dark text-center ">
                <tbody>
                    <tr>
                        <th>Uploader</th>
                        <th><img class="avatar" src='{{image.uploader.socialaccount_set.all.0.get_avatar_url}}'></img><span>{{image.uploader.username}}</span></th>
                    </tr>
                    <tr>
                        <th>Category</th>
                        {% if image.category %}
                        <th><a href="{% url 'imagehost:category' image.category.pk %}">{{ image.category }}</a></th>
                        {% else %}
                        <th>None</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Favorites</th>
                        <th>{{ image.favorites }}</th>
                    </tr>
                    <tr>
                        <th>Resolution</th>
                        <th>{{ image.picture.width }}x{{ image.picture.height }}</th>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <th>{{ image.picture.size |BytesToMB|floatformat:2}} MB</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-light border-0" id="basic-addon1">URL</span>
            </div>
            <input type="text" class="form-control bg-dark text-light " value="{{ image.picture.url }}">
        </div>
        {% if user == image.uploader %}
        <div class="text-center mt-4">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
                Delete
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-danger">
                        Are you sure you want to delete {{ image }} ?
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{% url 'imagehost:delete' image.pk %}">
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Confirm">
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock main %}

{% block rear %}
<script>
    window.location.hash = '#image';
    $('#sidebar-toggle-button').click(function (e) {
        e.preventDefault();
        $("#img-detail-wrapper").toggleClass("toggled");
        $("#img-sidebar-wrapper #sidebar-toggle-button i").toggleClass("fa-angle-left fa-angle-right");
    })
</script>
{% endblock rear %}