{% extends 'imagehost/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load form_tags %}

<!-- 多重继承时会覆盖之前的 -->
{% block head %}
<link rel="stylesheet" href="{% static 'imagehost/css/bootstrap-select.min.css' %}">
<style>
  #upload-wrapper {
    color: white;
  }
</style>
{% endblock head %}

{% block main %}
<div class='container page-top' id = 'upload-wrapper'>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}

    {% if field.name == "picture" %}

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_autotags">AutoTags:</label>
      <div class="col-sm-10">
        <div class="input-group">
          <select name="autotags" class="form-control" id="id_autotags" multiple>
            <option value="default" selected disabled>Auto tagging</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#AddTagModal">Add
              Tag</button>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-file">
      {{ field }}
      {{ field|label_with_classes:'custom-file-label'}}
    </div>
    <img id='img-upload' />

    {% else %}

    <div class="form-group row">
      {{ field|label_with_classes:'col-sm-2 col-form-label' }}
      <div class="col-sm-10">
        {{ field }}
      </div>
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>

    {% endif %}

    {% endfor %}

    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
  <hr class="bg-secondary">
  <a href="{% url 'imagehost:index' %}" class="btn btn-light">Return to ImageHost</a>
</div>

<!-- AddTagModal -->
<div class="modal fade" id="AddTagModal" aria-labelledby="AddTagModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddTagModalLabel">Add Tag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="TagName" class="col-form-label">Tag:</label>
            <input type="text" class="form-control" id="TagName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="AddTagConfirm" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

{% endblock main%}

{% block rear %}
<script src="{% static 'imagehost/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'imagehost/js/custom.js' %}"></script>
<script>
  $(document).ready(function () {

    $('#AddTagModal #AddTagConfirm').click(function () {
      var tag_name = $('#AddTagModal #TagName').val();
      if (tag_name) {
        console.log("true");
        $('#id_autotags').prepend(new Option("(new) " + tag_name, tag_name, true, true));
      }
    })

    $('#id_picture').change(function () {

      // Remove old autotags
      $("#id_autotags option").each(function () {
        var tag_value = $(this).val();
        if ((tag_value != "default") && (~tag_value.indexOf("(new)"))) {
          $(this).remove();
        }
      })

      var formData = new FormData();
      formData.append("file", $("#id_picture")[0].files[0]);
      // Get thumbnail from host 
      $("#id_autotags option[value='default']").text("Getting thumbnail from host")
      $.ajax({
        url: "{% url 'imagehost:get_thumbnail' %}",
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
          // alert("successfully upload original image to host");
          // Upload thumbnail to imagga
          $("#id_autotags option[value='default']").text("Uploading thumbnail to Imagga")
          $.ajax({
            url: "https://api.imagga.com/v2/uploads",
            beforeSend: function (xhr) {
              xhr.setRequestHeader("Authorization", "Basic YWNjX2NiOWZhODZhOGU4MjQ2Yzo5OTZmMWVhOWVmNWM3YWUwY2Y3OGQ1ZDBmYWU1ZWYyZA==")
            },
            type: 'POST',
            dataType: 'json',
            data: {
              'image_base64': data.thumbnail
            },
            success: function (data) {
              // alert(JSON.stringify(data));
              // Get tags from imagga
              $("#id_autotags option[value='default']").text("Getting tags from Imagga")
              $.ajax({
                url: "https://api.imagga.com/v2/tags",
                beforeSend: function (xhr) {
                  xhr.setRequestHeader("Authorization", "Basic YWNjX2NiOWZhODZhOGU4MjQ2Yzo5OTZmMWVhOWVmNWM3YWUwY2Y3OGQ1ZDBmYWU1ZWYyZA==")
                },
                type: 'GET',
                data: {
                  'image_upload_id': data.result.upload_id,
                  'limit': 5,
                },
                success: function (data) {
                  $("#id_autotags option[value='default']").text("Tags received")
                  var tags = data.result.tags;
                  for (var i = 0; i < tags.length; i++) {
                    var tag = tags[i];
                    // Set tags for selection
                    $("#id_autotags").append(new Option("(Conf : " + tag.confidence.toFixed(0) + "%) " + tag.tag.en, tag.tag.en));
                  }
                },
                error: function () {
                  alert("Cannot get the tags");
                }
              })
            },
            error: function () {
              alert("fail to upload thumbnail to auto tagging")
            }
          })
        },
        error: function () {
          alert("fail to upload original image to host");
        }
      });
    })
  })
</script>
{% endblock rear %}