/* for image list */
body {
    background-color:#1d1d1d !important;
    color:#989898;
  }
  
.thumb{
    margin-bottom: 30px;
}

.page-top{
    margin-top:50px;
}
  
     
img.zoom {
    width: 100%;
    height: auto;
    border-radius:5px;
    object-fit:cover;
}

  .img-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .img-wrap img {
    transition: transform .25s;
    width: 100%;
  }
  .img-wrap:hover img {
    transform: scale(1.2);
  }

/* for image upload and preview */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: black;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}




  /* reference:https://stackoverflow.com/questions/43816331/bootstrap-4-card-image-zoom */
